<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONEDLE</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="css/switch.css">
    <link rel="stylesheet" href="css/toast.css">
</head>
<body>

    <div id="page">
        <header>
            <nav>
                <ul>
                    <li> <input type="image" src="img/question.svg" onclick="openHelp()" /> </li>
                    <li id="streak-ctn"> <img src="img/fire.svg"/> <span id="streak"></span></li>
                    <li> <input type="image" src="img/settings.svg" onclick="openSettings()" /> </li>
                </ul>
            </nav>
        </header>
        <div>
            <main>
                <section id="presentation">
                    <h1 id="logo">ONEDLE</h1>
                </section>
                <section id="game">
                    <div id="interactive-game">
                        <p>Guess today's One Piece character</p>
                        <div id="ctn-input">
                            <form id="form">
                                <div id="select-ctn">
                                    <input type="text" id="character" name="character" autocomplete="off" onsubmit="submitGuess(event)" oninput="changeGuess(event)" placeholder="Type a one piece character"/>
                                    <div id="autocomplete-ctn">
                                        <ul id="autocomplete-list"></ul>
                                    </div>
                                </div>
                                <button id="submit-char" onclick="submitGuess(event)">
                                    <img src="img/arrowdown.svg" id="validate-icon"/>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div id="win-message">
                        <p>You already won today, come back tomorrow !</p>
                        <p><%= winners %> persons currently guessed the today's character</p>
                    </div>

                    <datalist id="character-list">
                        <% for (char of entries) { %>
                            <option value="<%= char.ename %>"><%= char.ename %></option>
                        <% } %>
                    </datalist>

                    <div id="gametable-ctn">
                        <table>
                            <thead>
                                <th>Name</th>
                                <th>Status</th>
                                <th>First apparition</th>
                                <th>Origin</th>
                                <th>Age</th>
                                <th>Devil fruit type</th>
                                <th>Bounty</th>
                                <th>Occupation</th>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                    </div>
                </section>
            </main>

            <div id="legends">
                <div class="exsquare guess-color-red">
                    Incorrect
                </div>
                <div class="exsquare guess-color-orange">
                    Partially correct
                </div>
                <div class="exsquare guess-color-green">
                    Correct
                </div>
            </div>
        </div>

        <footer>
            <a href="https://twitter.com/ekazukiii">
                <img src="img/twitter.svg" alt="twitter logo"/>
            </a>
            <a href="mailto:contact@ekazuki.fr">
                <img src="img/mail.svg" alt="email icon">
            </a>
            <a href="https://github.com/ekazukii">
                <img src="img/github.svg" alt="github logo">
            </a>
            <!--
            <a href="#" aria-disabled="true">
                <img src="img/database.svg" alt="dataset icons .csv">
            </a>
            -->
        </footer>
    </div>

    <div class="sunny-container">
        <img src="img/sunny.png" alt="" class="sunny-img">
    </div>
    <div class="sunny-container sunny-left-ctn">
        <img src="img/sunny.png" alt="" class="sunny-img">
    </div>

    <div id="settings-modal" class="modal">
        <input class="close-modal"type="image" src="img/close-circle.svg" onclick="closeSettings()" />

        <h2>Settings</h2>
        <div class="settings-input">
            <label for="cryptomode">Crypto-Bro mode</label>
            <label class="switch">
                <input type="checkbox" class="settings-box" id="cryptoBro" onchange="setSetting(this)">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="settings-input">
            <label for="anime-mode">Anime version</label>
            <label class="switch">
                <input type="checkbox" class="settings-box" id="anime-mode" onchange="setSetting(this)">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="settings-input">
            <label for="cryptomode">Hint every 10 tries</label>
            <label class="switch">
                <input type="checkbox" class="settings-box" id="autoHints" onchange="setSetting(this)" disabled>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="settings-input">
            <label for="delete-data">Delete all data</label>
            <input type="image" src="img/delete.svg" onclick="clearSettings()" />   
        </div>
    </div>

    <div id="help-modal" class="modal">
        <input class="close-modal"type="image" src="img/close-circle.svg" onclick="closeHelp()" />

        <h2>Help</h2>
        <div class="separated-text">
            <div>
                <p>Onedle is an online game inspired by Wordle and Loldle, the goal is to find today's character by entering the name of other One Piece character, it will highlight its similarities with today's character to help you find it.</p>
            </div>
            <div>
                <p>The color of the cell indicates if the character have the exact same properties as today's character.</p>
                <p>A green cell means that the two characters have the same "type" (Both only pirates for example). </p>
                <p>An orange cell means that the two characters share some common properties. For example one is a pirate captain and the other one is only a pirate.</p>
                <p>A red cell means that the two characters have no properties in common. For example one is a Pirate and the other a Cipher Pol agent.</p>
                <p>For the bounty, age and first apparition properties an arrow indicates if the todays character value is higher or lower. For example 47↑ means that today's character is older than 47.</p>
            </div>
            <div>
                <p>All the data has been gathered from the <a href="onepiece.fandom.com/wiki">One Piece fandom</a> using some code from <a href="https://github.com/dilaouid/FandomScraper">FandomScraper</a></p>
            </div>
        </div>
    </div>

    <div id="manga-anime-modal" class="modal">
        <h2>Choose the right version to avoid spoilers</h2>
        <p>Onedle has two versions, one with information from the anime and another with up-to-date information from the manga. If you choose the manga version, make sure you're up to date, as you could get spoiled about the bounty, demon fruit etc. of certain characters.</p>
        <div id="anime-manga-choose">
            <button id="manga-btn" onclick="setVersion('manga')">Manga version</button>
            <button id="anime-btn" onclick="setVersion('anime')">Anime version</button>
        </div>
    </div>

    <div id="local-clear" class="toast">Local game data cleared</div>
    <div id="win-toast" class="toast">Good job ! You won in <span id="n-tries"></span> tries</div>

    <script defer src="js/settings.js"></script>
    <script defer src="js/game.js"></script>
</body>
</html>