@font-face {
  font-family: one-piece;
  src: url(one_piece_font.ttf);
  size-adjust: 180%;
}

@font-face {
  font-family: anime-ace;
  src: url(anime-ace.ttf);
  size-adjust: 90%;
}

@font-face {
  font-family: Roboto;
  src: url(roboto-regular.ttf);
}

:root {
  /*background: url(https://data.pixiz.com/output/user/frame/preview/400x400/2/9/5/2/1332592_c9920.jpg);*/
  --primary-color: #3864c1;
  --icon-size: 28px;
  font-family: anime-ace;
  --error-color: rgb(242, 74, 74);
  --partial-color: rgb(233, 178, 77);
  --correct-color: rgb(54, 192, 54);
}

#btc-logo {
  font-size: 1.2em;
}

body,
#page {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

header {
  padding: 0.4rem 1rem;
}

nav input[type='image'],
nav img {
  margin: 0;
  width: var(--icon-size);
  width: var(--icon-size);
}

#streak-ctn:has(#streak:empty) {
  display: none;
}

#streak-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

#streak-ctn:hover::after {
  position: absolute;
  content: 'You have a win streak of ' attr(data-streak) ' days!';
  margin-left: 0.4rem;
  font-size: 0.8rem;
  top: 40px;
  background-color: #ddd;
  padding: 0.4rem;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

main h1 {
  color: var(--primary-color);
  font-family: one-piece;
  font-size: 3rem;
  margin-top: -20px;
}

#interactive-game {
  display: none;
}

#interactive-game.active {
  display: block;
}

#win-message {
  display: none;
}
#win-message p {
  margin: 0.1rem;
}

#win-message.active {
  display: block;
}

main button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

main input {
  height: 2rem;
  width: 20rem;
  font-family: anime-ace;
}

form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#select-ctn {
  position: relative;
  background-color: rgb(203, 203, 203);
}

#select-ctn:not(:focus-within) #autocomplete-ctn:not(:hover) {
  display: none;
}

#autocomplete-ctn {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(235, 235, 235);
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure the popover appears above other content */
  width: 21.6rem;
}

#autocomplete-list {
  display: flex !important;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0;
  max-height: 20rem;
  overflow: scroll;
}

#autocomplete-list > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#autocomplete-list > li:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

#autocomplete-list,
#autocomplete-list > li {
  text-indent: 0;
  list-style-type: none;
}

#autocomplete-list .img-auto-ctn {
  margin: 0.4rem;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  position: relative;
}

#autocomplete-list img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;

  min-width: 4rem;
  min-height: 4rem;
}

#validate-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.6rem;
  margin-top: 3px;
  filter: invert(37%) sepia(96%) saturate(438%) hue-rotate(178deg) brightness(88%) contrast(90%);
}

#gametable-ctn {
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  max-width: 90vw;
}

table {
  margin-top: 50px;
  font-size: 0.8rem;
}

th {
  font-weight: 600;
  min-width: 7rem;
  position: relative;
  padding-bottom: 6px;
}

th::after {
  content: '';
  background: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 2px;
}

tbody,
tbody > tr:first-child,
tbody > tr:first-child > td {
  border-top: 10px solid white;
}

td {
  width: 7rem;
  height: 7rem;
  margin: 0.4rem;
}

thead {
  overflow: hidden;
}

.img-ctn {
  height: 7rem;
  width: 7rem;
  overflow: hidden;
  position: relative;
}

.img-ctn img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;

  min-width: 7rem;
  min-height: 7rem;
}

.guess-color-red {
  background-color: var(--error-color);
}

.guess-color-orange {
  background-color: var(--partial-color);
}

.guess-color-green {
  background-color: var(--correct-color);
}

.guess-direction-higher::after {
  content: '↑';
  color: white;
}

.guess-direction-lower::after {
  content: '↓';
  color: white;
  font-weight: 900;
}

.sunny-container,
.sunny-container > .sunny-img {
  display: none;
}

.sunny-container-win {
  animation: upDown 0.4s alternate infinite ease-in-out;
  border-color: white;
  position: absolute;
  top: 40vh;
  display: block !important;
}

.sunny-left-ctn {
  top: 60vh;
}

.sunny-container-win > .sunny-img {
  width: 4rem;
  height: 4rem;
  filter: grayscale();
  transform: scaleX(-1);
  animation: 5s cubic-bezier(0.33, 0.21, 0.28, 1) forwards slidein;
  display: block !important;
}

.sunny-left-ctn > .sunny-img {
  animation: 5s cubic-bezier(0.33, 0.21, 0.28, 1) forwards slidein-rtol;
}

@keyframes upDown {
  to {
    transform: translatey(80px);
  }
}

@keyframes slidein {
  from {
    transform: translateX(-5em) scaleX(-1);
  }
  to {
    transform: translateX(calc(100vw + 5em)) scaleX(-1);
    visibility: hidden;
  }
}

@keyframes slidein-rtol {
  from {
    transform: translateX(calc(100vw + 5em));
  }
  to {
    transform: translateX(-5em);
    visibility: hidden;
  }
}

#legends {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-size: 0.8rem;
}

.exsquare {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 4.5rem;
  height: 4.5rem;
  aspect-ratio: 1;
  margin: 0.4rem;
  padding: 0.6rem;
}

.exsquare.error {
  background-color: rgb(242, 74, 74);
}

.exsquare.success {
  background-color: rgb(54, 192, 54);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

footer > * {
  margin: 0 0.2rem;
}

footer img {
  width: var(--icon-size);
  width: var(--icon-size);
}

#page.blur {
  filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
}

.modal.open {
  --settings-modal-padding: 1.6rem;
  position: absolute;
  min-width: calc(40vw - var(--settings-modal-padding));
  min-height: calc(40vh - var(--settings-modal-padding));

  border-radius: 0.4rem;
  background-color: white;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--settings-modal-padding);

  display: block;
}

.modal.open > h2 {
  text-align: center;
  margin-bottom: 1.6rem;
}

.modal.open .settings-input {
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
  align-items: center;
  margin: 0.4rem 1rem;
}

.modal.open .settings-input > input[type='image'] {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 14px;
}

.close-modal {
  width: var(--icon-size);
  height: var(--icon-size);
  float: right;
  display: block;
}

#help-modal p {
  font-family: Roboto, sans-serif;
}

#help-modal {
  min-width: calc(60vw - var(--settings-modal-padding));
  min-height: calc(60vh - var(--settings-modal-padding));
}

#help-modal h2 {
  margin-bottom: 3rem;
}

#help-modal .separated-text > div {
  margin: 1.6rem 0;
}

#help-modal .separated-text > div > p {
  margin: 0.4rem 0;
}

#anime-manga-choose,
#spoilers-choose {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

#anime-manga-choose > button,
#spoilers-choose > button {
  margin: 0.4rem;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-family: anime-ace;
  font-size: 1.2rem;
  cursor: pointer;
}

#anime-manga-choose > button:hover {
  background-color: var(--primary-color);
  color: white;
}

#manga-anime-modal p {
  font-family: Roboto, sans-serif;
}
